/* Custom font for timer and task list */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

#time-display, .list-group-item {
  font-family: 'Nunito', sans-serif;
}

/* Custom styles */
body {
  background-color: #81cdeb;
}

.container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.header h1 {
  color: #81cdeb;
}

.timer #time-display {
  font-size: 3em;
  color: #81cdeb;
}

.to-do-list h2 {
  color: #81cdeb;
}

.btn-success {
  background-color: #81cdeb;
  border-color: #81cdeb;
}

.btn-success:hover {
  background-color: #ADD8E6;
  border-color: #ADD8E6;
}

.btn-warning {
  background-color: #FFD700;
  border-color: #FFD700;
}

.btn-warning:hover {
  background-color: #FFFFE0;
  border-color: #FFFFE0;
}

.btn-danger {
  background-color: #81cdeb;
  border-color: #81cdeb;
}

.btn-danger:hover {
  background-color: #ADD8E6;
  border-color: #ADD8E6;
}

.list-group-item {
  background-color: #81cdeb;
  color: white;
}

.list-group-item.completed {
  background-color: #4682B4;
}
